body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.board-col
{
    border-right:2px solid black;
    border-top:2px solid black;
    float:left;
    height:400px;
    width:300px;
    
}
#board
{
    width:950px;    
}
#board h3
{
    padding:5px;
    border-bottom:2px solid black;
}
#container
{
   
}
.card
{
    border:1px solid black;
    margin:5px;
    padding:3px;
    width:150px;
    min-height:100px;
    background-color:#FCF0AD;
}
.card-controls
{
    position: absolute;
    bottom: 0;
    width:150px;
}
.card-control-button
{
    float:right;
    margin-right:5px;
}
.column-state-hover
{
    border:2px solid green;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
