<form class="item" data-bind="submit: function(form){viewModel.updateItem($data)}">
    <div class="card">
        <span data-bind="text:Id" class="taskId"></span>
        <hr />
        <span data-bind="text: Description"></span>
        <input type="hidden" data-bind="value: Status" /> 
        <br />
        <div class="card-controls">
            <a class="card-control-button" href="#" data-bind="click: $parent.Delete">Delete</a>
            
            <a class="card-control-button" href="#" data-bind="click: $parent.Edit">Edit</a>
        </div>
    </div>
</form>
