@{
    ViewBag.Title = "SimpleBoard";
}

<h2>@ViewBag.Title</h2>
<div id="container">
    <div id="board">
        <div id="todo" class="board-col" >
            <h3>ToDo</h3>
            <div data-bind="foreach: {data:todoTasks, afterRender:makeDraggable}">
                @Html.Partial("_Card")
            </div>
        </div>
        <div id="doing" class="board-col">
            <h3>Doing</h3>
            <div data-bind="foreach: {data:doingTasks, afterRender:makeDraggable}">
                @Html.Partial("_Card")
            </div>
        </div>
        <div id="done" class="board-col">
            <h3>Done</h3>
            <div data-bind="foreach: {data:doneTasks, afterRender:makeDraggable}">
                @Html.Partial("_Card")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/App/taskViewModel.js" type="text/javascript"></script>
    <script type="text/javascript">
        var viewModel;
        $(function () {
            viewModel = new taskViewModel();
            ko.applyBindings(viewModel);

            viewModel.load();

            $(".board-col").droppable({
                hoverClass: "column-state-hover",
                drop: function (event, ui) {
                    
                    ui.draggable.children('input').val(this.id).change();
                    ui.draggable.submit();

                }
            });
        });

        function makeDraggable() {
            $('.item').draggable({ revert: "invalid" });
        }
    </script>
}